/*========== GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap');

/*========== VARIABLES CSS ==========*/
:root {

  /*========== Colors ==========*/
  --hue-color: 250; /*BLue 240 - Green 154 - Orange 25 - Pink 335*/

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --first-color-alt: hsl(var(--hue-color), 77%, 80%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 22%, 35%);
  --text-color-light: hsl(var(--hue-color), 22%, 50%);
  --body-color: hsl(var(--hue-color), 24%, 95%);
  --border-gradient: linear-gradient(250deg, var(--first-color), #F61ACD, #E23500, #F6DD00);
  --hover-color: hsl(var(--hue-color), 50%, 60%);
  --white-color: #fff;
  --dark-color: hsl(var(--hue-color), 100%, 5%);

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: 'Lato', sans-serif;
  --a-font: 'Cinzel', sans-serif;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.4rem;
  --large-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --a-font-weight: 700;

  /* Responsive typography */
  @media screen and (min-width: 576px) {
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ===========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s; /* For animation dark mode */
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: 900;
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  font-weight: 700;
  padding-bottom: 0;
}

h3 {
  padding-top: 0;
  font-size: var(--h3-font-size);
  color: var(--text-color-light);
  font-weight: 300;
  font-style: italic;
}

a {
  text-decoration: none;
  padding: 0.3rem;
  font-family: var(--a-font);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
}

i {
  color: var(--dark-color);
}

img {
  border-radius: 50%;
}

/* Inside main is the .card */
main {
  animation: fromLeft 0.9s backwards; /* The main is for the information boxes that is coming to the center from left. */
}

/*========== THEME ==========*/
.change-theme {
  position: relative;
  left: 55%;
  font-size: 1.4rem;
  margin: 0 0.5rem;
  padding: 0.25rem;
  border-radius: 50%;
  box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1),
               inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
  color: var(--text-color-light);
  transition: .75s;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color-alt);
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(var(--hue-color), 12%, 95%);
  --text-color: hsl(var(--hue-color), 12%, 75%);
  --body-color: hsl(var(--hue-color), 10%, 16%);
  --white-color: hsl(var(--hue-color), 24%, 12%);
}

/*========== Box shadow Dark theme ==========*/
.dark-theme .profile__data {
  box-shadow: 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 1),
  -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 2),
  inset -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1),
  inset 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 2);
}

.dark-theme .change-theme {
  box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1),
  inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
}

/*========== Icons Dark theme ==========*/
.dark-theme .profile__icon-group {
  color: var(--text-color-light);
}

.dark-theme .ri-linkedin-fill:hover {
  color: #61dfff;
  text-shadow: 0 0 0.5rem #36a4ff, 0.02rem 0.02rem 0.3rem #1e76be, 0.03rem 0.03rem 0.2rem #0f5188;
}

.dark-theme .ri-github-line:hover {
  color: #f3afff;
  text-shadow: 0 0 0.5rem #B32CCB,
    0.05rem 0.05rem 0.2rem #791E89, 0.05rem 0.05rem 0.1rem #45114E;
}

.dark-theme .ri-spotify-line:hover {
  color: #92ff96;
  text-shadow: 0.03rem 0.03rem 0.5rem #4CAF50, 0.04rem 0.04rem 0.2rem #2F6F35, 0.05rem 0.05rem 0.1rem #153117;
}


.dark-theme .lesson__box {
  width: 190px;
  height: 50px;
  border: solid;
  border-image: var(--border-gradient) 1 / 2px;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}


.dark-theme .lesson__box::before {
  background: var(--body-color);
}

.dark-theme .lesson__box::after {
  background: var(--body-color);
}

.dark-theme .lesson__box:hover::before {
  width: 0px;
  background: hsl(var(--hue-color), 20%, 12%);;
}

.dark-theme .lesson__box:hover::after {
  height: 0px;
  background: hsl(var(--hue-color), 20%, 12%);;
}

.dark-theme .lesson__box:hover {
  background: hsl(var(--hue-color), 20%, 12%);;
}

.dark-theme .lesson__box:hover a {
  transition: 1s;
  font-size: var(--large-font-size);
  font-weight: var(--a-font-weight);
  color: var(--title-color);
}

/*====================
   Color changes in some parts of
   the website, in light theme
======================*/

/*========== REUSABLE CSS CLASSES ==========*/
/* max-width: 968px; */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

/*========== PROFILE ==========*/
.profile {
  position: relative;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fromTop 0.9s 0.2s backwards; /* The header is for the main title that is coming to the center from the top. */
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
  width: max-content;
  margin: 2rem;
}

.profile__data {
  position: relative;
  box-shadow: -6px -6px 16px var(--white-color),
               6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
               inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
               inset -6px -6px 16px var(--white-color);
  width: fit-content;
  margin: 0.5rem;
  text-align: center;
  border-radius: 10%;
}

.profile__perfil img {
  width: 250px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background: var(--border-gradient);
}

.profile__perfil img:hover {
  padding: 0.17rem;
  transition: 0.4s;
}

.profile__info,
.profile__info * {
  border-color: transparent;
  background-color: transparent;
}

.profile__info-name {
  margin: 0 1.5rem;
}

.profile__info-bio {
  margin: 0 0 0.5rem 0;
}

.profile__icon,
.profile__icon * {
  border-color: transparent;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.profile__icon-group {
  padding: 0.5rem;
  transform: scale(1.5);
  transition: 0.3s;
  color: var(--text-color-light);
}

.ri-linkedin-fill:hover {
  color: #03213A;
  text-shadow: 0 0 0.7rem #128DF3, 0.07rem 0.07rem 0.15rem #128DF3,
    0.06rem 0.06rem 0.1rem #0967B3, 0.05rem 0.05rem 0.05rem #06406F;
}

.ri-github-line:hover {
  color: #22133D;
  text-shadow: 0 0 0.5rem #B32CCB,
    0.05rem 0.05rem 0.2rem #791E89, 0.05rem 0.05rem 0.1rem #45114E;
}

.ri-spotify-line:hover {
  color: #081309;
  text-shadow: 0.03rem 0.03rem 0.5rem #4CAF50, 0.04rem 0.04rem 0.2rem #2F6F35, 0.05rem 0.05rem 0.1rem #153117;
}

/*========== LESSON ==========*/
.main {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}
.lesson__group {
  width: fit-content;
}

.lesson__box {
  width: 190px;
  height: 50px;
  border: solid;
  border-image: var(--border-gradient) 1 / 2px;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.lesson__box::before, .lesson__box::after {
  position: absolute;
  background: var(--body-color);
  z-index: -1;
  transition: 1s;
  content: '';
}

.lesson__box::before {
  height: 50px;
  width: 190px;
}

.lesson__box::after {
  width: 190px;
  height: 30px;
}

.lesson_link {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.lesson__box:hover::before {
  width: 0px;
  background: #fff;
}

.lesson__box:hover::after {
  height: 0px;
  background: #fff;
}

.lesson__box:hover {
  background: #fff;
}

.lesson__box:hover a {
  transition: .7s;
  font-size: var(--large-font-size);
  font-weight: var(--a-font-weight);
  color: var(--dark-color);
}


/* ========== FOOTER ========== */
.footer__copy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/* ========== SCROLL BAR ========== */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--hue-color), 8%, 66%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(var(--hue-color), 8%, 54%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue-color), 8%, 44%);
}

/* ========== BREAKPOINTS ========== */
/* For small devices */
@media screen and (max-width: 320px) {
  .grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 692px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ========== ANIMATIONS ========== */
@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
